{{#extend "layout"}}
{{#content "body"}}
    <h1>Welcome to the wiki</h1>
    <p>Click on a page to view or edit.</p>
    <ul class="index">
        {{#each pages}}
            <li><a href="{{this.url}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
{{/content}}
{{/extend}}
