<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{!-- import CSS stylesheet --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
    {{!-- Raleway font --}}
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    {{!-- override some styles --}}
    <style type="text/css">
        body { 
            padding: 40px;
        }

        ul.index li {
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
        }

        form[name=save] {
            margin-bottom: 0;
        }

        textarea {
            box-sizing: border-box;
            width: 100%;
            min-height: 200px;
            font-size: 15px;
        }
    </style>
</head>
<body>
    {{#block "body"}}
    {{/block}}
</body>
</html>
