<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{!-- import CSS stylesheet --}}
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
    {{!-- Raleway font --}}
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    {{!-- override some styles --}}
    <style type="text/css">
        body { 
            padding: 40px;
        } 

        * { 
            font-family: Raleway !important;
        }
    </style>
</head>
<body>
    {{#block "body"}}
    {{/block}}
</body>
</html>
